
body
{
	padding-top: 54px;
}

.badlogin{
	color:red;
}


@media (min-width: 992px)
{
	body
	{
		padding-top: 56px;
	}

	.logo_iut{
		padding-left:10px;
	}

	.connexion{
		margin-top:75px;
	}

	input {
		margin-top:10px;
		border-radius: 5px;
		border-color: none;
	}


	#formAccueil{
		margin-top:10%;
	}

	.formFiliere{
		padding-right:3px;
	}

	#tableau{
		margin-left:37%;
	}


}
