
body
{
	padding-top: 54px;
}

.badlogin{
	color:red;
}


@media (min-width: 992px)
{
	body
	{
		padding-top: 56px;
	}

	.logo_iut{
		padding-left:10px;
	}

	.connexion{
		margin-top:75px;
	}

	input {
		margin-top:10px;
		border-radius: 5px;
		border-color: none;
	}

	.tableau{
		margin-top:50px;
		margin-left:33%;
	}

}


try
{
 $bdd = new PDO('mysql:host=localhost;dbname=NFCo;charset=utf8', 'root', 'root'); //CONNEXION À LA BDD

}
catch (Exception $e)
{
			 die('Erreur : ' . $e->getMessage()); //Si il y'a une erreur l'afficher
}
$reponse = $bdd->query('SELECT * FROM etudiants WHERE filière = "RT" AND année=2');
while ($donnees = $reponse->fetch())
{
	 echo $donnees['id'];
}
